.currentweather,
.currentcity,
.searchengine,
.futureweather {
  text-align: center;
}

h1,
h2 {
  color: #ffa726;
}

.currentweatheremoji {
  text-align: left;
  margin-left: 10px;
  padding-bottom: 15px;
  width: 25%;
  display: inline-block;
}

.currenttemp {
  text-align: right;
  width: 25%;
  display: inline-block;
}

h3 {
  color: #4eae53;
}

h5 {
  color: #42a5f5;
}

h6 {
  color: #006ec5;
}

.currentweather {
  border: solid #ffa726;
  width: 65%;
}

.topright {
  border: solid #4eae53;
  padding: 10px;
  margin: 10px;
  width: 25%;
  position: relative;
}

.day1,
.day2,
.day3,
.day4,
.day5 {
  border: solid #006ec5;
  padding: 10px;
  margin: 10px;
  width: 15%;
  text-align: center;
}

.container {
  border: solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
